<div *ngIf="infoSrv.Visible" id="overlayContainer">
    <div *ngIf="infoSrv.Visible" id="documentPropertiesOverlay " class="container">
        <div class="dialog">
            <!-- <ng-container *ngFor="let info of infoSrv.Info; let i=i ndex; ">
                <div class="row " *ngFor="let key of InfoKeys(info); ">
                    <span>{{key}}:</span>
                    <p>{{info[key]}}</p>
                </div>
                <div class="separator "></div>
            </ng-container> -->
            <div class="row">
                <span>DI:</span>
                <p>{{infoSrv.Info.DocID}}</p>
            </div>
            <div class="separator "></div>
            <div class="buttonRow ">
                <button id="documentPropertiesClose " class="overlayButton " (click)="CloseDialog() ">
                    <span data-l10n-id="document_properties_close ">关闭</span>
                </button>
            </div>
        </div>
    </div>
</div>